*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    /* font-size: 14px; */
}

:root{
    --navbar_color : rgb(255, 226, 124);
    --title-color : rgb(255, 199, 0);
}

button{
    border: none;
    background-color: white;
}

body{
    position: relative;
}

a, i{
    text-decoration: none;
    color: inherit;
}


/* ---------------------------------  HEADER  ------------------------------ */
header{
    position: fixed;
    height: 8vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 1%;
    z-index: 10000;
}

nav{
    background-image: linear-gradient(to right bottom, rgb(255, 226, 124), rgb(153, 119, 0));
    box-shadow: 0px 10px 20px rgb(153, 119, 0);
    border-radius: 20px;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: nowrap;
    padding: 0% 1%;
    z-index: 10000;
    font-size: large;
    color: aliceblue;
}

.nav_menu_list{
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    list-style-type: none;
}

.nav_item{
    transition: 1s;
}

.nav_home{
    transition: 1s;
    padding: 5px;
}

.nav_home:hover{
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 10px;
    transform: scale(1.1);
}

.nav_item:hover{
    transform: translateY(-5px);
}

.nav_bottom{
    display: none;
}
/* ------------------------------------------------------------------------- */


/* ----------------------------------  MAIN  ------------------------------- */

main{
    margin: 8vh 0;
}



h2{
    color: var(--title-color);
    margin-bottom: 10px;
    text-align: center;
}

h1{
    font-size: xx-large;
    text-align: center;
    padding: 5vh 1vw;
    color: rgb(153, 119, 0);
}


/* ------------- Alerte ------------ */
.container_alert{
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 5vh;
    width: 60vw;
    position: fixed;
    top: 85%;
    right: 0;
}

.alert_validate{
    background-color: rgb(196, 255, 196);
    border-left: 10px solid green;
    box-shadow: 0px 10px 20px rgb(196, 255, 196);
    color: rgb(4, 119, 48);
}

.alert_warning{
    background-color: rgb(255, 204, 110);
    border-left: 10px solid orange;
    box-shadow: 0px 10px 20px rgb(255, 204, 110);
    color: rgb(148, 99, 7);
}

.alert_error{
    background-color: rgb(247, 130, 130);
    border-left: 10px solid red;
    box-shadow: 0px 10px 20px rgb(247, 130, 130);
    color: rgb(146, 8, 8);
}

.container_alert.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-15px);
    }
}

.container_alert.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide{
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(110%);
    }
}

.container_alert.none{
    display: none;
}


.logo_alert{
    width: 10%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.message_alert{
    width: 75%;
    padding: 10px;
}

.close_btn_alert{
    background-color: rgba(128, 128, 128, 0.2);
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    cursor: pointer;
}

.close_btn{
    transition: 0.5s;
}

.close_btn_alert:hover .close_btn{
    transform: scale(1.3);
}

/* --------------------------------- */


/* --------- Liste Defilement ------ */

.list_defilement{
    margin: 5vh 20vw;
}
.container_titre_list{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.4);
    box-shadow: 0px 10px 30px gray;
    /* height: 30vh; */
    height: 400px;
    transition: 0.5s;
}

.container_titre_list:hover{
    transform: scale(1.02);
}

.container_button_genre{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 30px;
}

.button_genre{
    background-color: rgba(255, 226, 124, 0.56);
    border-radius: 20px;
    padding: 10px;
    font-size: medium;
    font-style: italic;
    cursor: pointer;
}

.button_genre:hover{
    font-style: normal;
    background-color: rgba(153, 55, 0, 0.4);
}

.container_list{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%; */
    gap: 3%;
    /* padding: 1% 0; */
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    height: 100%;
    width: 70%;
}

.container_list::-webkit-scrollbar{
    /* display: none; */
}

.container_list a{
    height: 80%;
}

.container_card{
flex: 0 0 auto;
    border-radius: 15px;
    background-color:antiquewhite;
    height: 100%;
    width: 9.2vw;
    overflow: hidden;
    /* transition: 1s; */
}

img{
    transition: 1s;
}

.container_card img:hover{
    transform: translateY(-10px) scale(1.1);
}

.img_card{
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.img_card img{
    /* width: 13vw; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
}

.info_card{
    height: 20%;
    width: 100%;
}

.info_card p{
    width: 100%;
    height: 100%;
    color: rgba(255, 199, 0, 1);
    font-size: 100%;
    text-align: center;
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    padding: 3% 10%;


        /* background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
}

.list_button{
    margin: 0 3%;
    font-size: 160%;
    border-radius: 15px;
    padding: 1%;
    transition: 1s;
}

.list_button:hover{
    background-color: var(--navbar_color);
    transform: translateY(-10px) scale(1.2);
}
/* --------------------------------- */






/* ------------ Fiche Film --------- */
.section_info_film{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    gap: 5vw;
}

.film_img_note{
    width: 25vw;

}

.affiche_film img{
    width: 100%;
    border: solid 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-color: var(--navbar_color);
    transition: 0.5s;
}

.affiche_film img:hover{
    transform: translateY(-10px);
}

.note_film{
    background-color: rgba(255, 226, 124, 0.3);
    display: flex;
    justify-content: center;
    padding: 3%;
}

.info_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caracteristique{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.film_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 60vw;
}


.info_logo .logo{
    padding: 10px;
    transition: 0.5s;
}

.info_logo .logo:hover{
    background-color: rgba(255, 226, 124, 1);
    border-radius: 10px;
    transform: translateY(-5px);
    cursor: pointer;
}

.film_synopsis{
    background-color: rgba(255, 226, 124, 0.3);
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.title_synopsis{
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 10px;
}

.synopsis{
    font-weight: lighter;
    font-style: italic;
    font-size: larger;
}
/* --------------------------------- */



/* --------- Fiche Personne -------- */
.section_info_personne{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 5vw;
    gap: 5vw;
}

.personne_profil{
    width: 20vw;
    overflow: hidden;
}

.personne_profil img{
    width: 100%;
    border: solid 4px;
    border-radius: 80px;
    border-color: var(--navbar_color);
    transition: 1s;
}

.personne_profil img:hover{
    border-radius: 0px;
}

.personne_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.chiffre_film, .chiffre_acteur{
    display: flex;
    background-color: var(--navbar_color);
    height: 8vh;
    width: 10vw;
    justify-content: center;
    align-items: center;
}

.chiffre{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.chiffre span{
    text-align: center;
}

.icon_chiffre{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 6vh;
}

.icon_chiffre .logo{
    padding: 10px;
    transition: 1s;
}

.icon_chiffre .logo:hover{
    cursor: pointer;
    background-color: rgba(255, 226, 124, 1);
    border-radius: 10px;
    transform: translateY(-10px);
}


/* --------------------------------- */





/* ----------- filmModif ----------- */
.formulaire_modification{
    width: 60vw;
    background-image: linear-gradient(to right bottom, rgba(255, 226, 124, 0.4), rgba(153, 136, 75, 0.6));
    border-radius: 30px;
    margin: auto;

}

.form{
    width: 100%;
}

.container_formFilm{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin: auto;
}

.container_formFilm div div input, div div select, textarea{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.85);
    filter: drop-shadow(5px 5px 5px #00000040);
    height: 50px;
    border: none;
    padding: 10px;
    font-size: large;
}

textarea{
    height: 120px;
}

.container_formFilm label, legend{
    color: rgba(153, 119, 0, 1);
    font-size: larger;
    font-weight: bolder;
}

.formulaire_modif_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  3vh 10vw;
}

.button_delete, .button_validate{
    color: white;
    font-size: 130%;
    border-radius: 20px;
    padding: 4% 0;
    width: 40%;
    cursor: pointer;
    transition: 1s;
    border: none;
}

.button_delete:hover, .button_validate:hover{
    transform: scale(1.2) translateY(-10px);
}

.button_delete{
    background-color: rgba(153, 55, 0, 0.7);
}

.button_validate{
    background-color: rgba(153, 119, 0, 1);
}

.return_fiche{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}

.logo_return{
    font-size: xx-large;
    background-color: rgba(153, 136, 75, 0.4);
    border-radius: 10px;
    padding: 3px;
    transition: 1s;
    cursor: pointer;
}

.logo_return:hover{
    transform: translateX(-20px);
}



/* --------------------------------- */



/* ---------- ADD View ------------- */
.add{
    background-image: linear-gradient(to right bottom, rgba(255, 226, 124, 0.4), rgba(153, 136, 75, 0.6));
    border-radius: 30px;
    margin: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.container_add{
    background-color: rgb(153, 119, 0);
    border-radius: 30px;
    width: 30vw;
    /* height: 40px; */
    text-align: center;
    padding: 20px;
    transition: 1s;
    /* margin: 20px; */
}

.container_add:hover{
    background-color: rgb(211, 174, 41);
    transform: scale(1.1);
}

.formulaire_add_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  3vh 10vw;
}

/* --------------------------------- */

fieldset {
    border: 0;
    padding: 0;
  }

fieldset ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
fieldset ul li {
    display: flex;
    gap: 10px;
    border-radius: 3px;
    margin: 0;
    padding: 10px 40px;
  }
  
fieldset ul li:hover {
    background: #eee;
  }
  
fieldset ul li input {
    width: 30px;
  }

.container_check_work ul{
    display: flex;
}


/* --------------------------------- */

.container_list_role{
    margin: 5px 30px; 
}

.container_list_role select{
    padding: 5px 10px;
    background-color:beige;
    border: none;
}

.container_list_role input{
    padding: 5px 10px;
    background-color:beige;
    border: none;
    transition: 0.5s;
    border-radius: 10px;
}

.container_list_role input:hover{
    transform: scale(1.1);
    background-color: rgb(153, 119, 0);

}
/* ------------------------------------------------------------------------- */


/* --------------------------------- Footer -------------------------------- */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
}


.container_footer{
    background-image: linear-gradient(to right bottom, rgb(255, 226, 124), rgb(153, 119, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
    color: #eee;
}

.title_footer, .main_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_footer{
    gap: 15px;
}

.logo_footer{
    display: flex;
    gap: 10px;
}

.title_cine{
    color: rgb(153, 119, 0);
    font-style: italic;
}

footer p:hover{
    color:rgb(255, 226, 124);
}

/* ------------------------------------------------------------------------- */



@media screen and (min-height:1000px){
    .list_defilement{
        margin: 5vh 10vw;
    }
    .container_titre_list{
        height: 300px;
    }
}

/* @media screen and (max-width:1200px){
    .container_card{
        width: 10vw;
    }
} */

@media screen and (max-width:780px){
    .container_card{
        width: 20vw;
    }
}

@media screen and (max-width:440px){
    .list_defilement{
        margin: 5vh 4vw;
    }
    .container_card{
        width: 31vw;
    }
}


@media screen and (max-width:350px){
    .container_card{
        width: 50vw;
    }
}


@media screen and (max-width:500px){
    footer{
        display: none;
    }

    header{
        bottom: 0;
        top: unset;
    }

    nav{
        border-radius: 15px 15px 00px 0px;
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content:unset;
        flex-wrap: nowrap;
        padding: 0% 1%;
        z-index: 10000;
        font-size: large;
        color: aliceblue;
    }

    .nav_home{
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .nav_menu{
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_add{
        padding: 20px;
        margin: 5px;
        border-radius: 15px;
        background-image: linear-gradient(to right bottom, rgb(255, 226, 124), rgb(153, 119, 0));
        position: fixed;
        top: 0;
        right: 0;
    }

    .nav_top{
        display: none;
    }

    .nav_bottom{
        display: block;
    }

    .formulaire_modification{
        width: 90vw;
    }

    .add{
        width: 90vw;
    }
    
    /* 
    
    header{
    position: fixed;
    height: 8vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 1%;
    z-index: 10000;
}
    
    nav{
        background-image: linear-gradient(to right bottom, rgb(255, 226, 124), rgb(153, 119, 0));
        box-shadow: 0px 10px 20px rgb(153, 119, 0);
        border-radius: 20px;
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        flex-wrap: nowrap;
        padding: 0% 1%;
        z-index: 10000;
        font-size: large;
        color: aliceblue;
    } */
}
